.button-container {
  display: flex;
  justify-content: space-between;
}

.filter {
  margin-right: auto;
}

.add-item {
  margin-left: auto;
}

mat-form-field {
  width: 150px;
  height: 80px;
  font-size: 13px;
}
